<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.airag.modules.KnowledgeLog.mapper.KnowledgeQueryReferenceMapper">

    <select id="getReferences"
            resultType="org.example.airag.modules.KnowledgeLog.entity.KnowledgeQueryReference">
        select * from knowledge_query_reference
        <where>
            query_log_id = #{logId}
        </where>
        order by created_at desc
    </select>
</mapper>