<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.airag.modules.KnowledgeLog.mapper.KnowledgeQueryLogMapper">

    <select id="findKnowledgeQueryLogList"
            resultType="org.example.airag.modules.KnowledgeLog.entity.KnowledgeQueryLog">
        select kl.question,kl.answer,kr.reference_count,kl.duration_ms,kl.error_message,kl.status
        from knowledge_query_log kl
        left join (
            select count(*) as reference_count, query_log_id from knowledge_query_reference
            group by query_log_id
        )kr on kl.id = kr.query_log_id
        <where>
            <if test="status != null and status != ''">
                and kl.status = #{status}
            </if>
            <if test="answer != null and answer != ''">
               and  kl.answer like CONCAT('%', #{answer}, '%')
            </if>
        </where>
        order by kl.created_at desc
    </select>
    <select id="getEnterpriseQuestionStatistics"
            resultType="org.example.airag.modules.KnowledgeLog.dto.KnowledgeQueryStatsDTO">
        select
            id,
            sum(if(status='SUCCESS',1,0))as successCount,
            sum(if(status='NO_RESULT',1,0))as noResultCount,
            sum(if(status='FAILED',1,0))as failedCount,
            avg(duration_ms) as avgDurationMs
        from knowledge_query_log
        where 1=1
    </select>
</mapper>