<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.ai.agent.business.panorama.mapper.ProjectPanoramaSnapshotModuleMapper">

    <delete id="deleteByPanoramaSnapshotId">
        DELETE FROM ai_project_panorama_snapshot_module
        WHERE panorama_snapshot_id = #{panoramaSnapshotId}
    </delete>
</mapper>
